# CLion project stuff
.idea

# Ceedling test builds
build

# Doxygen files
html
latex

# Sandbox for testing ideas
sandbox
old_makefiles


# Development build folder
cmake-build-debug
cmake-build-valgrind/
test.dat

# Has a bunch of genomes
test/test_files/main

